.topbar li a {
  list-style-type: none;
  display: inline-block;
  /* margin-right: 3rem; */
  padding-bottom: 0px;
  font-size: 1.1rem;
  text-decoration: none;
  color: #5c6069;
  letter-spacing: 1px;
  font-weight: 400;
  margin: auto;
  text-align: center;
}

.topbar li a:after {
  content: "";
  margin: auto;
  display: block;
  height: 2px;
  width: 0%;
  background-color: transparent;
  transition: all 0.5s ease;
}

li a:hover:after {
  width: 100%;
  background-color: #380885;
}

li a:hover {
  color: #5b13d0;
  /* color: rebeccapurple; */
}


/* //button animation */
.btn {
  display: flex;
  border-radius: 4px;
  background-color: #3d0770;
  border: none;
  color: #fff;
  text-align: center;

  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  height: 50px;
  margin-top: 30px;
  /* margin: 36px; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.btn a{
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  text-decoration: none;
  color: white;
}
.btn{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-weight: 400;
}

.btn:after {
  content: '»';
  font-size: 35px;
  position: absolute;
  opacity: 0;  
  top: -2px;
  right: -9px;
  transition: 0.5s;

}

.btn:hover{
  padding-right: 24px;
  padding-left:8px;
}

.btn:hover:after {
  opacity: 1;
  right: 10px;
}




