@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/mistral");
.main-hide {
  display: none;
}

.bi {
  margin-right: 10px;
  font-size: 1.5rem;
}

.contact {
  
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* margin-top: 1rem; */
  /* z-index: ; */
  position: relative;
  background-color: black;
  z-index: 2;
}

.contact-image {
  /* background-color: white; */
  display: flex;
  justify-content: start;
  margin-left: 1.5rem;
  margin-top: 1rem;
  height: 100vh;
  color: white;
  flex-direction: column;
}
.contact-image button {
  position: absolute;
  top: 7px;
  left: 4px;
  /* border-radius: 50%; */
  text-align: center;
  display: flex;
  align-items: center;
  font-weight: 600;
  background-color: transparent;
  color: lightgreen;
  border: none;
  &:hover {
    cursor: pointer;
  }
}
.contact-image::before {
  background: url("/images/logo.jpeg") no-repeat center center/cover;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  z-index: -1;
  opacity: 0.4;
}

.contact-image h1 {
  color: white;
  margin-top: 2rem;
  font-size: 4.5rem;
  font-weight: 100rem;
}
.email {
  margin-top: 2.5rem;
  font-weight: 600;
  /* z-index: 100; */
}
.email .email-id {
  font-weight: 400;
  margin-left: 1.5rem;
}

.chat {
  margin-top: 5rem;
  font-weight: 600;
}
.chat .phone-number {
  font-weight: 400;
  margin-left: 1.5rem;
}

.location {
  margin-top: 5rem;
  font-weight: 600;
}
.location .address {
  font-weight: 500;
  margin-left: 1.5rem;
}

.contact-form {
  height: 100%;
  /* background-color:rgb(184, 143, 225); */
  /* display: flex; */
  width: 100%;
  background-color: whitesmoke;
  /* padding-top: 5rem; */
  padding: 7rem 3rem;
  margin: auto;
}

.contact-form .contact-title h1 {
  font-weight: 200;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.contact-form .form .name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.common {
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 5px;
}

/* //styling name */
.name {
  margin-bottom: 2rem;
}
.main-mob {
  top: 10;
  left: 10;
  position: fixed;
  border: none;
  display: none;
}
.main-mob {
  font-size: 1.7rem;
  font-weight: bolder;
  color: darkgreen;
}

.name input {
  height: 2.3rem;
  width: 100%;
  border-radius: 5px;
  padding: 0px 5px;
  font-weight: 500;
  border: 1px solid black;
  &:focus {
    outline: none;
  }
}
/* done */

/* styling emial compoinent */
.email-container input {
  height: 2.3rem;
  width: 100%;
  border-radius: 5px;
  padding: 0px 5px;
  font-weight: 500;
  border: 1px solid black;
  &:focus {
    outline: none;
  }
}
.email-container {
  margin-bottom: 2rem;
}

/* Styling Number Compnent */

.phone-container input {
  height: 2.3rem;
  width: 100%;
  border-radius: 5px;
  padding: 0px 5px;
  font-weight: 500;
  border: 1px solid black;
  &:focus {
    outline: none;
  }
}
.phone-container {
  margin-bottom: 2rem;
}

.form button {
  width: 100%;
  padding: 0.5rem;
  background-color: rebeccapurple;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  height: 2.5rem;

  &:hover {
    cursor: pointer;
    background-color: rgb(111, 75, 148);
  }
}

/* success contaner */
.overlay {
  background-color: rgba(0, 0, 0, 0.422);
  height: 100vh;
  width: 100vw;
  top: 0;
  position: absolute;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: 1s;
}
.success-container {
  top: -50%;
  right: 50%;
  text-align: center;
  z-index: 3;
  padding: 1rem;
  transform: translate(50%, -50%);

  position: absolute;

  background-color: white;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 2s ease-in-out;
}
.success-container i {
  font-size: 3.5rem;
  color: rgb(5, 182, 5);
}
.success-container p {
  margin-bottom: 0.5rem;
}
.success-container button {
  margin-top: 0.5rem;
  padding: 0.4rem 2rem;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(51, 93, 50, 0.25) 0px 30px 60px -12px inset,
    rgba(12, 255, 89, 0.819) 0px 18px 36px -18px inset;
  color: white;

  background: rgb(168, 201, 163);
  background: linear-gradient(
    90deg,
    rgba(168, 201, 163, 1) 0%,
    rgba(9, 149, 14, 1) 100%
  );

  font-weight: 600;

  &:hover {
    cursor: pointer;
  }
}
.show-overlay {
  opacity: 1;
}
.show-success {
  top: 50%;
}
