
@media (max-width: 992px) {
  header{
    display: none;
  }
  nav {
    display: none;
    
  }
  .topbar li a {
    display: none;
  }
  .menu{
    display:none;
  }
  .topbar{
    display: none;
  }

  .landing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* display:none; */
    margin: 0px;
    width: 100%;
    /* width: 100vw; */
    /* min-width: 100%; */
  }

  .main-logo {
    display: none;
  }

  .title .heading {
    font-size: 4rem;
    width: 100%;
    display: block;
  }
  .tag-line {
    margin-top: 0.1rem;
    width: 400px;
    text-align: center;
    margin: auto;
    /* display:none; */
  }

  
  .info {
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  .content {
    margin-left: 0px;
    text-align: center;
  }
  .second-side {
    margin: 10px;
    width: 96%;
  }

  .about-section {
    /* text-align: center; */
    margin: 1px 1px;
    width: 100%;
    margin: 10px 10px;
  }
  .about-grid .about-info-text{
    padding: 1rem;
  }
  p.about-us-title {
    font-size: 2.5rem;
    font-weight: 500;
  }
  .about-image{
    width: 100%;
    text-align: center;
    margin: 10px auto;
  }
  .about-grid {
    display: flex;
    flex-direction: column;
  }
  .stats {
    display: flex;
    flex-direction: column;
  }

  .choose-us{
    padding: 1rem;
  }

  .choose-us-text .des {
    font-size: 2.5rem;
    text-align: center;
  }

  .choose-us-image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 4rem;
    margin-top: 3rem;
    flex-direction: column;
  }

  .contact{
    display: flex
  }
  .contact-image{
    display:none;
  }
}

@media (max-width: 992px) {
  footer .footer-content {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-left: 2rem;
  }
  .footer-logo img {
    width: 10rem;
  }
}

@media (max-width:990px) {
  .mobile{
    display: block;
    position: fixed;
    right: 10;
    top: 1;
    z-index: 1;
  }
  
}