@media  (max-width:992px){
    nav{
        display: none;
    }
    .landing-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
       
        /* min-width: 100%; */
    }    
    .main-logo{
        display: none;
    }
    .title .heading{
        font-size: 4rem;
      
    }
    .tag-line{
        margin-top: 0.1rem;
    }
    .info{
        text-align: center;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .content{
        margin-left: 0px;
        text-align: center;
    }
    .second-side{
        margin: 10px 10px;
    }

    .about-grid {
        display: flex;
        flex-direction: column;
    }
    .stats{
        display: flex;
        flex-direction: column;
    }
    .choose-us{
        display: flex;
        margin:10px
    }
    .choose-us-image{
        flex-direction: column;
    }
}
@media (max-width:992px) {
    footer .footer-content {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding-left: 2rem;
    }
    .footer-logo img{
        width: 10rem;
    }
}