@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Building top bar */
nav {
  background-color: #ffffff;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  min-height: 70px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}/* background-color: ; */

.logo {
  margin-left: 50px;
  font-size: 45px;
  font-weight: 600;

  color: #7091e6;
}
.logo img{
  height: 65px;
}
nav .topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
/* Degine main content */
.landing-section {
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: #ffffff;
}

.content {
  margin-left: 50px;
  margin-top: 100px;
}

.context {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 30px;
}
.content .context img {
  width: 30px;
}

.content .sub-title {
  display: inline;
  text-align: center;
  margin-left: 10px;
  font-size: 19px;
}


.title span{
    font-size: 50px;
    font-weight: 700;
    /* display: block; */
}

.peole-container{
    display: flex;
    justify-content: start;
    align-items: center;
}
.peole-container p{
    font-size: 50px;
    font-weight: 700;
    margin-right: 10px;
}

.people img{
    display: inline-block;
    width: 60px;
    /* background-color: red; */
    border-radius: 50%;
    height: 60px;
    margin-right: -12px;
}

.learn-more{
    margin-top: 20px;
}

.info{
    margin-top: 125px;
    width: 600px;
    font-size: 27px;
    font-weight: 500;
    display: flex;
    align-items: center;
    /* color:rgba(0, 0, 0, 0.797); */
    justify-content: center;
}
.info #info1{
    width: 25px;
    margin: 0px 6px;
}
#info2{
    width: 35px;
}

/* seetig up image */
.image{
    /* background-color: #ffffff; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-right: 1000px;
    border-radius: 10px;
    flex-direction: column;
    position: relative;
    /* background-image: url("/images/graph.png"); */
    z-index: 10;
}



.main-img{
  border-radius: 100px;
  min-width: 500px;
  /* margin: auto; */
  position: relative;
  /* text-align:center; */
  transition: all 1s ease-in-out;
  animation: anime
  
}
.main-img img{
  width: 50%;
}

.work1{
  position: absolute;
  bottom: 90;
  right: 12;
  z-index: -1;
  filter: blur(0.5px);
}

.work1 img{

  width: 300px;
  height: 75px;
}

.work1{
  position: absolute;
  bottom: 70;
  right: 12;
  z-index: -1;
  filter: blur(0.5px);
}

.work1 img{

  width: 300px;
  height: 75px;
}

.work2{
  position: absolute;
  top: 100;
  right: 450;
  z-index: -1;
  filter: blur(0.5px);
}

.work2 img{
  width: 300px;
  height: 75px;
}

.work3{
  position: absolute;
  top: 200;
  right: 1;
  z-index: 1;
  filter: blur(0.5px);
}
.work3 img{
  width: 300px;
  height: 75px;
}

.work4 img{
  width: 300px;
  height: 75px;
}

.work4{
  position: absolute;
  top: 450;
  right: 500;
  z-index: -1;
  filter: blur(0.5px);
}





@keyframes slide-in {
  0% {
    background-color: rebeccapurple;
  }
  100% {
    transform: translateY(0px);
  }
}