@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url('https://fonts.cdnfonts.com/css/mistral');
:root {
  --primery-color: "#8000ff";
}
* {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Building top bar */
nav {
  border-radius: 0 0 10% 10%;
  min-width: 100vh;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  /* list-style: none; */
  min-height: 4rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} /* background-color: ; */

.logo img {
  height: 58px;
}

nav .topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 3rem;
}

.landing-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 10rem;
  height: auto;
  /* padding-bottom: 3rem; */
  background: linear-gradient(
    90deg,
    rgba(232, 229, 238, 16%) 24%,
    rgba(81, 11, 253, 16%) 95%
  );
}

.content {
  margin-left: 50px;
}

.context {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 30px;
}

.title .heading {
  font-size:4rem;
  /* font-weight: 700; */
  font-family: 'Mistral', sans-serif;
  color: rgb(35, 3, 66);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.544);                           
  /* display: block; */
}

.tag-line {
  font-size: 30px;
  font-weight: 600;
 
}

.learn-more {
  margin-top: 10px;
}
.main-logo img{
  width: 200px;
}
.info {
  margin-top: 5rem;
  width: 600px;
  font-size: 27px;
  font-weight: 500;
  display: flex;
  align-items: center;
  /* color:rgba(0, 0, 0, 0.797); */
  justify-content: center;
}
.info #info1 {
  width: 25px;
  margin: 0px 6px;
}
#info2 {
  width: 35px;
}

/* second section */
.second-side {
  margin-top: -100px;
  /* opacity: 0; */
  border-radius: 10px;
  background-color: black;
  background-image: url("/images/backgriound.avif");
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin-right: 50px;
  opacity: 0;
  background-repeat: no-repeat;
  
  /* padding-bottom: 3rem; */
}

.second-side .second-side-img {
  display: flex;
  justify-content: end;
  align-items: end;
  text-align: center;
  /* position: relative; */
  height: 100%;
}

.second-side .second-side-img .main-img {
  width: 80%;
  /* height: 0%; */
  /* opacity: 0.9; */
  text-align: center;
  margin: 0px auto;
}

/* About Section */
.about-section {
  margin-top: 10px;
  border-radius: 1rem;
  /* background: rgba(79, 55, 138, 16%);  */
  margin: 8rem 1rem;
  width: 96%;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.about-grid .about-info-text {
  padding: 3rem;
}

.about {
  color: #8000ff;
  font-weight: 600;
}
p.about-us-title {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.838);
}

.about-us-des {
  font-weight: 400;
  color: black;
  margin-top: 2rem;
  overflow: none;
  min-width: 100%;
}
.another-des {
  margin-top: 1.5rem;
}
.about-image {
  width: 90%;
  margin: 30px;
}
.about-image img {
  width: 100%;
}

.stats {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}

.successfully-place {
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #bf9fdd;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.successfully-place .number {
  font-size: 4.3rem;
  color: #8000ff;

  /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
}

.stats .title {
  font-weight: 600;
}

.stats .des {
  font-weight: 400;
}

.success-rate {
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #bf9fdd;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.success-rate .percent {
  font-size: 4.3rem;
  color: #8000ff;
  /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
}

.customer-satifaction {
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #bf9fdd;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.customer-satifaction .statifaction-ratio {
  font-size: 4.3rem;
  color: #8000ff;
  /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
}

/* //why choose us */
.choose-us {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background: rgba(79, 55, 138, 16%);

  padding: 2rem;

  border-radius: 1rem;

  margin: 0px 20px;
  width: 96%;
}

.choose-us-text .title {
  font-size: 1.1rem;
  color: #8000ff;
  font-weight: 600;
}
.choose-us-text .des {
  padding: 2rem;
  font-size: 3.5rem;
  color: var(--primery-color);
  font-weight: 500;
}

.choose-us-text .customer-des {
  width: 70%;
  font-weight: 400;
  margin: auto;
}

.choose-us-image {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 80%;
  gap: 4rem;
  margin-top: 3rem;
}

.get-hired {
  width: 100%;
  margin: auto;
}
.get-hired img {
  width: 300px;
  text-align: center;
  margin: auto;
}

.right-company {
  width: 100%;
  margin: auto;
}

.right-company img {
  width: 300px;
  text-align: center;
  margin: auto;
}

.industry-standerd-pay {
  width: 100%;
  margin: auto;
}

.industry-standerd-pay img {
  width: 300px;
  text-align: center;
  margin: auto;
}

.get-hired .title {
  font-size: 1.6rem;
  font-weight: 600;
  background: rgb(238, 238, 238);
  background: linear-gradient(
    153deg,
    rgba(91, 7, 226) 40%,
    rgb(238, 238, 238, 1) 70%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.right-company .title {
  font-size: 1.6rem;
  font-weight: 600;
  background: rgb(238, 238, 238);
  background: linear-gradient(
    153deg,
    rgba(91, 7, 226) 40%,
    rgb(238, 238, 238, 1) 80%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.industry-standerd-pay .title {
  font-size: 1.6rem;
  font-weight: 600;
  background: rgb(238, 238, 238);
  background: linear-gradient(
    153deg,
    rgba(91, 7, 226) 40%,
    rgb(238, 238, 238, 1) 60%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.get-hired .des {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
}
.right-company .des {
  margin-top: 1rem;
  font-size: 1rem;
  width: 100%;
  font-weight: 400;
  height: auto;
  text-align: center;
}

.industry-standerd-pay .des {
  margin-top: 1rem;
  font-size: 1rem;
  width: 100%;
  font-weight: 400;
  height: auto;
  text-align: center;
}

footer {
  background-color: #f6f7fc;
}

footer .footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.footer-logo img {
  width: 18rem;
  text-align: center;
  /* mix-blend-mode: darken; */
}
.footer-logo p {
  text-align: center;
  margin: auto;
}
.footer-logo h2 {
  display: inline;
  text-align: center;
  margin: auto;
}
footer p {
  font-size: 1rem;
  margin-top: 1rem;
}

footer h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

footer li {
  list-style: none;
  font-size: 1rem;
  padding: 0.6rem 0;
  color: #5c6069;
}

.hide {
  opacity: 0;
  filter: blur(3px);
  transform: translateY(50px);
  transition: all 0.8s ease-in-out;
}
.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0px);
}

.hide2 {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s;
}
.show2 {
  opacity: 1;
  transform: translateX(0);
  transform: scale(1);
}

.hide2:nth-child(1) {
  transition-delay: 200ms;
}
.hide2:nth-child(2) {
  transition-delay: 400ms;
}
.hide2:nth-child(3) {
  transition-delay: 600ms;
}
