@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
* {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Building top bar */
nav {
  background-color: whitesmoke;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  min-height: 70px;
  border-radius: 0px 0px 20% 20%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} /* background-color: ; */

.logo {
  margin-left: 50px;
  font-size: 45px;
  font-weight: 600;

  color: #7091e6;
}
.logo img {
  height: 65px;
}
nav .topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.contact{
  margin-right: 1rem;
}

/* Degine main content */
.landing-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  margin-top: 10rem;
}

.content {
  /* padding-left: 30px; */
  margin-left: 50px;
}

.context {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 30px;
}
.content .context img {
  width: 30px;
  margin-right: 10px;
}

.content .sub-title {
  display: inline;
  text-align: center;
  /* margin-left: 10px; */
  font-size: 19px;
}

.title span {
  font-size: 50px;
  font-weight: 700;
  /* display: block; */
}
.highlight-title{
  position: relative;
}

.highlight{
  background: linear-gradient(236deg, rgb(129, 3, 213) 0%, rgba(248,240,249,1) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}
.peole-container {
  display: flex;
  justify-content: start;
  align-items: center;
}
.peole-container p {
  font-size: 50px;
  font-weight: 700;
  margin-right: 10px;
}

.people img {
  display: inline-block;
  width: 60px;
  /* background-color: red; */
  border-radius: 50%;
  height: 60px;
  margin-right: -12px;
}

.learn-more {
  margin-top: 20px;
}

.info {
  margin-top: 125px;
  width: 600px;
  font-size: 27px;
  font-weight: 500;
  display: flex;
  align-items: center;
  /* color:rgba(0, 0, 0, 0.797); */
  justify-content: center;
}
.info #info1 {
  width: 25px;
  margin: 0px 6px;
}
#info2 {
  width: 35px;
}

/* second section */
.second-side {
 
}
.second-side img{
  width: 700px;
}
/* .second-side div {
  background-color: #9966cc;
  width: 100px;
  height: 100px;
} */

/* About Section */
.about-section {
  background-color: #ede3f2;
  /* height: 400px; */
  margin-top: 10px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 8rem 1rem;
 
  
}

.about-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-grid .about-info-text {
  padding: 3rem;
  
}

.about {
  color: #8000ff;
  font-weight: 600;
}
p.about-us-title {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.838);

}

.about-us-des {
  font-weight: 400;
  color: black;
  margin-top: 2rem;
  overflow: none;
  min-width: 100%;
}
.another-des {
  margin-top: 1.5rem;
}
.about-image{
  background-image: url("/images/background.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.stats{
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.successfully-place{
  background-color:white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(93, 50, 92, 0.25) 0px 30px 60px -12px inset, rgba(76, 143, 224, 0.3) 0px 18px 36px -18px inset;
}

.successfully-place .number{
  font-size: 4.3rem;
  color: #6b1abd;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.stats .title{
  font-weight: 500; 
}

.stats .des{
  font-weight: 00;
}

.success-rate{
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(93, 50, 92, 0.25) 0px 30px 60px -12px inset, rgba(76, 143, 224, 0.3) 0px 18px 36px -18px inset;
}

.success-rate .percent{
  font-size: 4.3rem;
  color: #6b1abd;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
